body {
    background-color: #4a5b8e;

}
#wrapper {
    width: 200px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #9ad3fa;
}

form {

    margin-bottom: 10px;
}
input {
    padding: 10px;

}

.button {
    padding: 10px;

}
iframe {
    margin: auto;
    display: block;
    border: 0;
    width: 80%;
    height: 80%;
}